In [5]:
import numpy as np
import pandas as pd
import requests
import json
from datetime import datetime
import time
from collections import Counter

In [7]:
#aquery = 'query MyQuery {\n  token(\n    where: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: '+ '['+','.join(f'"{item}"' for item in list(num)) + ']' +'}}\n  ) {   \n    display_uri\n    extra\n    flag\n    highest_offer\n    is_boolean_amount\n    last_listed\n    last_metadata_update\n    level\n    lowest_ask\n    name\n    ophash\n    \n    supply\n    symbol\n    thumbnail_uri\n    timestamp\n    pk\n    token_id\n  }\n}\n'
num= range(6,12)
url = "https://data.objkt.com/v2/graphql"
print(list(num))

[6, 7, 8, 9, 10, 11]

In [96]:
del(df)

240.0

In [ ]:
""" data =pd.Series([])
for i in range(1,241):
    num = range(50*i-49, 50*i+1)
    print(list(num))
    aquery = 'query MyQuery {\n  token(\n    where: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: '+ '['+','.join(f'"{item}"' for item in list(num)) + ']' +'}}\n  ) {   \n    display_uri\n    extra\n    flag\n    highest_offer\n    is_boolean_amount\n    last_listed\n    last_metadata_update\n    level\n    lowest_ask\n    name\n    ophash\n    \n    supply\n    symbol\n    thumbnail_uri\n    timestamp\n    pk\n    token_id\n  }\n}\n'
    r = requests.post(url, json={'query': aquery})
    time.sleep(0.2)
    print(r.status_code)
    json_data = json.loads(r.text)
    df = pd.json_normalize(json_data, record_path=['data','token'])
    #put df into data
    for row in range(len(df)):
        data = pd.concat([data,df.iloc[row]],axis=1,ignore_index= True) """

In [198]:
#transform data
Metadata_table = pd.DataFrame(data).transpose()

In [199]:
#Exclude the first Null row
Metadata_table = Metadata_table[1:12001]
len(np.unique(Metadata_table["pk"]))

12000

In [48]:
%store Metadata_table
#Metadata_table.to_excel("Metadata_table.xlsx", sheet_name="dogami")

Stored 'Metadata_table' (DataFrame)

In [44]:
#reload the metadata
""" Metadata_table = pd.read_excel("Metadata_table.xlsx", sheet_name="dogami")
Metadata_table.drop(columns=["Unnamed: 0"], inplace=True) """

RangeIndex(start=0, stop=12000, step=1)

In [1]:
%store -r

In [1]:
query = """query MyQuery {
  token(
    where: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: ["1", "2"]}}
  ) {   
    display_uri
    extra
    flag
    highest_offer
    is_boolean_amount
    last_listed
    last_metadata_update
    level
    lowest_ask
    name
    ophash
    
    supply
    symbol
    thumbnail_uri
    timestamp
    token_id
    pk
  }
}
"""
url = "https://data.objkt.com/v2/graphql"

""" r = requests.post(url, json={'query': aquery})
print(r.status_code)
json_data = json.loads(r.text)
print(type(json_data))
df = pd.json_normalize(json_data, record_path=['data','token'])
#df = pd.json_normalize(json_data, record_path=['errors'])
df.head() """

" r = requests.post(url, json={'query': aquery})\nprint(r.status_code)\njson_data = json.loads(r.text)\nprint(type(json_data))\ndf = pd.json_normalize(json_data, record_path=['data','token'])\n#df = pd.json_normalize(json_data, record_path=['errors'])\ndf.head() "

#Sort the Table

In [2]:
Metadata_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   display_uri           12000 non-null  object
 1   extra                 12000 non-null  object
 2   flag                  12000 non-null  object
 3   highest_offer         12000 non-null  int64
 4   is_boolean_amount     12000 non-null  bool
 5   last_listed           4978 non-null   object
 6   last_metadata_update  12000 non-null  object
 7   level                 12000 non-null  int64
 8   lowest_ask            442 non-null    float64
 9   name                  12000 non-null  object
 10  ophash                12000 non-null  object
 11  supply                12000 non-null  int64
 12  symbol                0 non-null      float64
 13  thumbnail_uri         12000 non-null  object
 14  timestamp             12000 non-null  object
 15  pk                    12000 non-null  int64
 16  token_id              12000 non-null  int64
dtypes: bool(1), float64(2), int64(5), object(9)
memory usage: 1.5+ MB

In [7]:
""" #transform the time
def string_to_time(x):
    if x!= 'None':
        return datetime.strptime(x, "%Y-%m-%dT%H:%M:%S+00:00").isoformat()
    else:
        return x """
    
#transform the time
def string_to_time(x):
    if x!= 'nan':
        return datetime.strptime(x, "%Y-%m-%dT%H:%M:%S+00:00").isoformat()
    else:
        return x

In [8]:
Metadata_table["last_listed"]= Metadata_table["last_listed"].astype('str')
Counter(Metadata_table['last_metadata_update'].astype('str')).most_common(50)

[('2022-03-03T15:30:54+00:00', 67),
 ('2022-03-03T15:27:54+00:00', 57),
 ('2022-07-06T17:33:44+00:00', 50),
 ('2022-07-06T17:37:29+00:00', 50),
 ('2022-07-06T16:57:59+00:00', 50),
 ('2022-07-06T16:13:59+00:00', 50),
 ('2022-07-06T17:32:14+00:00', 50),
 ('2022-07-06T17:29:44+00:00', 50),
 ('2022-07-06T16:09:59+00:00', 50),
 ('2022-07-06T16:16:59+00:00', 50),
 ('2022-07-06T18:13:44+00:00', 50),
 ('2022-07-06T16:14:59+00:00', 50),
 ('2022-07-06T16:11:59+00:00', 50),
 ('2022-07-06T16:52:29+00:00', 50),
 ('2022-07-06T16:23:44+00:00', 50),
 ('2022-07-06T17:04:59+00:00', 50),
 ('2022-07-06T16:04:29+00:00', 50),
 ('2022-07-06T17:35:44+00:00', 50),
 ('2022-07-06T16:51:29+00:00', 50),
 ('2022-07-06T16:09:29+00:00', 50),
 ('2022-07-06T16:06:29+00:00', 50),
 ('2022-07-06T16:15:59+00:00', 50),
 ('2022-07-06T17:31:44+00:00', 50),
 ('2022-07-06T18:12:44+00:00', 50),
 ('2022-07-06T16:26:59+00:00', 50),
 ('2022-07-06T16:26:29+00:00', 50),
 ('2022-07-06T16:21:14+00:00', 50),
 ('2022-07-06T16:19:44+00:00', 50),
 ('2022-07-06T17:21:14+00:00', 50),
 ('2022-07-06T16:54:29+00:00', 50),
 ('2022-07-06T16:24:59+00:00', 50),
 ('2022-07-06T16:22:14+00:00', 50),
 ('2022-07-06T16:58:59+00:00', 50),
 ('2022-07-06T17:28:14+00:00', 50),
 ('2022-07-06T17:30:44+00:00', 50),
 ('2022-07-06T16:21:44+00:00', 50),
 ('2022-07-06T17:28:44+00:00', 50),
 ('2022-03-03T15:26:54+00:00', 50),
 ('2022-07-06T16:28:59+00:00', 49),
 ('2022-07-06T17:34:14+00:00', 49),
 ('2022-07-06T17:02:29+00:00', 49),
 ('2022-07-06T16:50:59+00:00', 49),
 ('2022-07-06T18:58:29+00:00', 49),
 ('2022-07-06T18:15:44+00:00', 49),
 ('2022-07-06T18:15:14+00:00', 49),
 ('2022-07-06T17:20:14+00:00', 49),
 ('2022-07-06T17:29:14+00:00', 49),
 ('2022-07-06T16:10:29+00:00', 49),
 ('2022-07-06T17:00:59+00:00', 49),
 ('2022-07-06T16:10:59+00:00', 49)]

In [9]:
Metadata_table["last_listed"]
#Metadata_table["last_listed"] = list(map(string_to_time, Metadata_table["last_listed"]))
Metadata_table["last_listed"]= Metadata_table["last_listed"].astype('str').apply(string_to_time)
sum(pd.isnull(Metadata_table["last_listed"].astype('str')))

0

In [10]:
Metadata_table['last_metadata_update'] = Metadata_table["last_metadata_update"].astype('str').apply(string_to_time)

In [11]:
Metadata_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   display_uri           12000 non-null  object
 1   extra                 12000 non-null  object
 2   flag                  12000 non-null  object
 3   highest_offer         12000 non-null  int64
 4   is_boolean_amount     12000 non-null  bool
 5   last_listed           12000 non-null  object
 6   last_metadata_update  12000 non-null  object
 7   level                 12000 non-null  int64
 8   lowest_ask            442 non-null    float64
 9   name                  12000 non-null  object
 10  ophash                12000 non-null  object
 11  supply                12000 non-null  int64
 12  symbol                0 non-null      float64
 13  thumbnail_uri         12000 non-null  object
 14  timestamp             12000 non-null  object
 15  pk                    12000 non-null  int64
 16  token_id              12000 non-null  int64
dtypes: bool(1), float64(2), int64(5), object(9)
memory usage: 1.5+ MB

In [12]:
print(Metadata_table['last_metadata_update'][0],Metadata_table['last_metadata_update'][3])
Metadata_table['last_metadata_update'][0]<Metadata_table['last_metadata_update'][3]

2022-03-03T15:02:54 2022-07-06T16:27:29

True

#Get the Token that is a Puppy not a box

In [14]:
Metadata_2 =Metadata_table
%store Metadata_2

Stored 'Metadata_2' (DataFrame)

#To transform the date format to ISO8601

In [188]:
#transform the time
def string_to_time(x):
    if pd.notnull(x):
        return datetime.strptime(x, "%Y-%m-%dT%H:%M:%S+00:00").isoformat()
    else:
        return x

In [189]:
string_to_time('2022-02-24T02:17:50+00:00')
pd.notnull(Metadata_table["last_listed"])

'2022-02-24T02:17:50'

In [183]:
range(12000)

range(0, 12000)

Add variables in the query string

In [74]:
aquery = 'query MyQuery {\n  token_attribute(\n    where: {token: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: '+ '['+','.join(f'"{item}"' for item in list(num)) + ']' +' }}}\n  ) {\n    id\n    attribute_id\n    attribute {\n      id\n      type\n      value\n      name\n    }\n    token {\n      token_id\n      last_metadata_update\n      holders {\n        holder_address\n      }\n    }\n  }\n}\n'

In [10]:
'what happened{0} is good\n ok \n what \n is '.format(list(num))
'['+','.join(f'"{item}"' for item in list(num)) + ']'

'["1","2","3"]'

In [26]:
import pandas as pd
num = pd.Series([1,2,3])
'['+','.join(f'"{item}"' for item in list(num)) + ']'

'["1","2","3"]'

In [ ]:
aquery = 'query MyQuery {\n  token_attribute(\n    where: {token: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: '+ '['+','.join(f'"{item}"' for item in list(num)) + ']' +' }}}\n  ) {\n    id\n    attribute_id\n    attribute {\n      id\n      type\n      value\n      name\n    }\n    token {\n      token_id\n      last_metadata_update\n      holders {\n        holder_address\n      }\n    }\n  }\n}\n'

In [ ]:
a = ['a', 'b', 'c']
query = "SELECT * FROM foo WHERE bar IN (%s)" % (', '.join(a))
query

In [60]:
query

'query MyQuery {\n  token(\n    where: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: ["1", "2"]}}\n  ) {   \n    display_uri\n    extra\n    flag\n    highest_offer\n    is_boolean_amount\n    last_listed\n    last_metadata_update\n    level\n    lowest_ask\n    name\n    ophash\n    \n    supply\n    symbol\n    thumbnail_uri\n    timestamp\n    tzip16_key\n  }\n}\n'

In [46]:
#aquery ='query MyQuery {\n  token_attribute(\n    where: {token: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: '+ '['+','.join(f'"{item}"' for item in list(num)) + ']' +'}}}\n  ) {\n    id\n    token {\n      token_id\n      last_metadata_update\n      holders {\n        holder_address\n      }\n    }\n    token_pk\n  }\n}\n'

In [ ]:
type(a)

In [61]:
aquery = 'query MyQuery {\n  token(\n    where: {fa: {contract: {_eq: "KT1NVvPsNDChrLRH5K2cy6Sc9r1uuUwdiZQd"}}, token_id: {_in: '+ '['+','.join(f'"{item}"' for item in list(num)) + ']' +'}}\n  ) {   \n    display_uri\n    extra\n    flag\n    highest_offer\n    is_boolean_amount\n    last_listed\n    last_metadata_update\n    level\n    lowest_ask\n    name\n    ophash\n    \n    supply\n    symbol\n    thumbnail_uri\n    timestamp\n    tzip16_key\n  }\n}\n'